html {
	min-height: 100%;
}

body {
	background-color: #303030;
	min-height: 100%;
}

/* Page header */
h1 {
	text-align: center;
	color: #B32C2C;
}

/* Margin between developer info and search bar */
#developer-info {
	margin-bottom: 20px;
}

/* Search */
#search-div {
	margin: auto;
}
#searchForm {
	display: inline-block;
}

/* Sort */
.sort-div {
	display: inline-block;
	margin-left: 25px;
}
.dropdown-menu a:hover {
	cursor: pointer;
}

/* Cell of the grid */
.outer {
	height: 600px;
	padding: 1%; /* Gap between the cards */
}

/* The card inside the cell */
.inner {
	width: 100%;
	height: 100%;
	padding: 5%;
}
.inner h2 {
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.inner:hover {
	border: 5px solid #B32C2C;
	cursor: pointer;
}



.inner .game-description {
	display: block;
  	display: -webkit-box;
  	height: 84px; /* == 1.5*4*14px */
  	margin: 14px auto;
  	font-size: 14px;
  	line-height: 1.5;
  	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;	 
}

.inner .description {
    display: block;
	display: -webkit-box;
    height: 189px; /* == 1.5*4*14px */
    margin: 14px auto;
    font-size: 14px;
    line-height: 1.5;
  	-webkit-line-clamp: 9;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Remove link decoration from category and developer cards */
.card-link:hover{
	text-decoration: none;
}

/* Add gradient to cards */
.gradient {
	background: -webkit-linear-gradient(#B32C2C, #000000); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#B32C2C, #000000); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#B32C2C, #000000); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#B32C2C, #000000); /* Standard syntax */
	color: white;
	border-radius: 10px;
	border: 5px solid black;
}

/* Game modals */
.modal a:hover {
	cursor: pointer;
}
.modal-footer form {
	display: inline-block; /* display buttons on the same row */
}

/* Round images in cards and modals */
.img-container img {
	height: 250px;
	width: 250px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

/* Game iframe */
#game {
	height: 658px;
	width: 604px;
	background-color: white;
}

/* Share button */
#share-button-container {
	text-align: center;
	margin-top: 1%;
	margin-bottom: 1%;
}

/* Cards that are not in a grid (e.g. profile, login, signup...) */
.card-container {
	text-align: center;
	max-width: 100%;
}
.card {
	display: inline-block;
	padding: 20px;
}

.card-description {
	max-width: 600px;
}

/* Highscore and sales info*/
table {
	text-align: left;
	margin-bottom: 20px;
}
th {
	text-decoration: underline;
}
td, th {
    padding: 10px;
}

/* Force the form labels to appear on one row align them with fields */
.control-label {
	white-space: nowrap;
	vertical-align: middle;
}

/* google sign in image */
#g-signin {
	height: 40px;
}

/* Submit buttons (login and signup)*/
.submit {
	float: right;
}

/* Color invalid input field (e.g. login signup) */
.is-invalid {
    border-color: #900;
    background-color: #FDD;
}

/* Popup messages (e.g. after login, logout, purchase...) */
#messages-ul {
	padding-left: 20px;
	padding-right: 20px;
}
.alert {
	color: white;
}
.error-msg {
	background-color: #B32C2C;
}
.warning-msg {
	background-color: #ec971f;
}
.info-msg {
    background-color: #31b0d5;
}
.debug-msg {
	background-color: #31b0d5;
}
.success-msg {
	background-color: #449d44;
}

/* Don't allow user to resize the textareas (e.g. edit profile and edit game description) */
textarea {
	resize: none;
}