html {
	min-height: 100%;
}

body {
	background-color: #303030;
	min-height: 100%;
}

/* Page header */
h1 {
	text-align: center;
	color: #B32C2C;
}

/* Search */
#search-div {
	margin: auto;
}
#searchForm {
	display: inline-block;
}

/* Sort */
.sort-div {
	display: inline-block;
	margin-left: 25px;
}
.dropdown-menu a:hover {
	cursor: pointer;
}

/* Cell of the grid */
.outer {
	height: 600px;
	padding: 1%; /* Gap between the cards */
}

/* The card inside the cell */
.inner {
	width: 100%;
	height: 100%;
	padding: 5%;
}
.inner h2 {
	text-align: center;
}
.inner:hover {
	border: 5px solid #B32C2C;
	cursor: pointer;
}

/* Remove link decoration from category and developer cards */
.card_link:hover{
	text-decoration: none;
}

/* Add gradient to cards */
.gradient {
	background: -webkit-linear-gradient(#B32C2C, #000000); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#B32C2C, #000000); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#B32C2C, #000000); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#B32C2C, #000000); /* Standard syntax */
	color: white;
	border-radius: 10px;
	border: 5px solid black;
}

/* Game modals */
.modal a:hover {
	cursor: pointer;
}
.modal-footer form {
	display: inline-block; /* display buttons on the same row */
}

/* Round images in cards and modals */
.img-container img {
	height: 250px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

/* Game iframe */
#game {
	height: 658px;
	width: 604px;
	background-color: white;
}

/* Share button */
#share-button-container {
	text-align: center;
	margin-top: 1%;
	margin-bottom: 1%;
}

/* Cards that are not in a grid (e.g. profile, login, signup...) */
.card-container {
	text-align: center;
	max-width: 100%;
}
.card {
	display: inline-block;
	padding: 30px;
}

/* Highscore list */
ol {
	text-align: left;
}

/* google sign in image */
#g-signin {
	height: 40px;
}

/* Submit buttons (login and signup)*/
.submit {
	float: right;
}

.is-invalid {
    border-color: #900;
    background-color: #FDD;
}

/* Popup messages (e.g. after login, logout, purchase...) */
#messages-ul {
	padding-left: 0;
}
.alert {
	color: white;
}
.error-msg {
	background-color: #B32C2C;
}
.warning-msg {
	background-color: #ec971f;
}
.debug-msg {
	background-color: #31b0d5;
}
.success-msg {
	background-color: #449d44;
}

.control-label {

}