{% extends "games/base.html" %}

{% load staticfiles %}

{% block header %}{{game.name}}{% endblock %}

{% block content %}
<script>
    /* global $ */
    $(document).ready(function() {
        'use strict';
        $(window).on('message', function(evt) {
            var data = evt.originalEvent.data;
            console.log(data);
            if (data.messageType === "SCORE") {
                console.log(data);
            }
            else if (data.messageType === "SAVE") {
                console.log(data.gameState);
            }

            else if (data.messageType === "LOAD_REQUEST") {
                console.log(data);
            }
        });
    });

</script>

    {% if ownership_status == "owned" %}
        <iframe src="http://webcourse.cs.hut.fi/game.html"></iframe>
    {% elif ownership_status == "developer"  %}
        <h1>YOU DEVELOPED THIS GAME</h1>
    {% else %}
        <h1>YOU DON'T OWN THIS GAME</h1>
        {% if user.is_authenticated %}
            <form action="{% url 'payment' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="game_id" value="{{ game.id }}">
                <input type="submit" value="Buy game">
            </form>
        {% endif %}
    {% endif %}
{% endblock %}