{% extends "games/base_grid.html" %}

{% load staticfiles %}

{% block title %}WSD-Games - Categories{% endblock %}

{% block header %}Categories{% endblock %}

{% block cards %}
{% for category in categories %}
<div class="col-xs-12 col-sm-6 col-md-3 ">
	<a class="card_link" href="{% url 'category_detail' category.slug %}">
		<div class="inner">
			<h2>{{category.name}}</h2>
			<div class="img-container">
				<img src="{{category.image_url}}" class="img-responsive img-circle" alt="{{category.name}} image">
			</div>
			<p>{{category.description}}</p>
		</div>
	</a>
</div>
{% endfor %}
{% endblock %}