{% extends "games/base.html" %}

{% load staticfiles %}

{% block title %}WSD-Games - {{profile.user.username}}{% endblock %}

{% block header %}{{profile.user.username}}{% endblock %}

{% block content %}
    <div class="card-container">
        <div class="card gradient">
            {# Profile picture is same for everyone #}
            <div class="img-container">
                <img src="http://www.comicbookmovie.com/images/uploads/nerd.jpg" class="img-responsive img-circle" alt=" profile image">
            </div>
            <h3>About me</h3>
            {% if profile.about_me %}
                <p class="card-description">{{ profile.about_me }}</p>
            {% else %}
                <p>There's nothing to know about me!</p>
            {% endif %}

            {# Show profile information and settings buttons only for the player who owns the profile #}
            {% if profile.user == user %}
                <p>Name: {{ profile.user.get_full_name }}</p>
                <p>Email: {{ profile.user.email }}</p>
                <p>API token: {{ profile.user.api_token }}</p>
                {% if not profile.user.is_social_auth_user %}
                    <a class="btn btn-primary" href="{% url 'change_password' %}">Change password</a>
                {% endif %}
                <a class="btn btn-primary" href="{% url 'edit_profile' %}">Edit profile</a>
            {% endif %}
        </div>
    </div>
{% endblock %}