{% extends "games/base.html" %}

{% comment %}

A generic template for displaying a form and a submit button. Title, header and submit button text are customizable.
In situations where this template is not flexible enough 'games/form_fields.html' template should be still used to
render fields to achieve consistency. This template is especially designed to be used with GenericWsdFormView.

{% endcomment %}

{% load staticfiles %}

{% load wsd_filters %}

{% block title %}WSD-Games{{ title|title_prefix }}{% endblock %}

{% block header %}{{ header }}{% endblock %}

{% block content %}
    <div class="card-container">
        <form novalidate class="form-horizontal card gradient" method="POST">
            {% csrf_token %}
            {% include "games/form_fields.html" %}
            <button type="submit" class="btn btn-primary submit">{{ submit_button_text }}</button>
        </form>
    </div>
{% endblock %}