{% extends "games/base.html" %}

{% load staticfiles %}

{% block search %}
    {# Search form for seaching cards (games, developers and categories) #}
    <form id="searchForm">
        <div class="container-fluid">
            <div id="search-div" class="input-group col-xs-11 col-sm-8 col-md-5 ">
                <input id="search" class="form-control" type="text" name="search" placeholder="Search">
                <span class="input-group-btn">
                    <input class="btn btn-primary" type="submit" value="Go!"></input>
                    <button class="btn btn-primary" type="submit">Go!</button>
                </span>
                {# If cards represent games add possibility to sort cards #}
                {% block sort %}{% endblock %}
            </div>
        </div>
    </form>
{% endblock %}

{% block content %}
    {# Grid container for the cards #}
    <div id="grid" class="container-fluid">
        {% block cards %} {% endblock %}
    </div>
{% endblock %}