{% extends "games/base_grid.html" %}

{% load staticfiles %}

{% block title %}WSD-Games - Developers{% endblock %}

{% block header %}Developers{% endblock %}

{% block cards %}
	{% for developer in developers %}
		<div class="col-xs-12 col-sm-6 col-md-3 outer">
			<a class="card-link" href="{% url 'developer_detail' developer.slug %}">
				<div class="inner gradient">
					<h2>{{developer.name}}</h2>
					<div class="img-container">
						<img src="{{developer.image_url}}" class="img-responsive img-circle" alt="{{developer.name}} image">
					</div>
					<p class="description">{{developer.description}}</p>
				</div>
			</a>
		</div>
	{% endfor %}
{% endblock %}