{% extends "games/base.html" %}

{% load staticfiles %}

{% block title %}WSD-Games - {{ title }}{% endblock %}

{% block header %}{{ header }}{% endblock %}

{% block content %}
    <div id="form_container" class="container-fluid">
        <form id="form" class="form-horizontal" method="POST">
            {% csrf_token %}
            {% include "games/form_fields.html" %}
            <button id="submit" type="submit" class="btn btn-primary">{{ submit_button_text }}</button>
        </form>
    </div>
{% endblock %}