{% extends "games/base.html" %}

{% load staticfiles %}

{% block title %}WSD-Games - {{profile.user.username}}{% endblock %}

{% block header %}{{profile.user.username}}{% endblock %}

{% block content %}

<div id="form_container">
    <div id="form">
        <div class="img-container">
            <img src="http://www.comicbookmovie.com/images/uploads/nerd.jpg" class="img-responsive img-circle" alt=" profile image">
        </div>
        <h3>About me</h3>
        {% if profile.about_me %}
            <p>{{ profile.about_me }}</p>
        {% else %}
            <p>There's nothing to know about me!</p>
        {% endif %}

        {% if profile.user == user %}
            <p>Name: {{profile.user.first_name}} {{profile.user.last_name}}</p>
            <p>Email: {{profile.user.email}}</p>
            <p>API token: {{ profile.user.api_token }}</p>
            <a class="btn btn-primary" href="{% url 'edit_profile' %}">Edit profile</a>
            <a class="btn btn-primary" href="{% url 'change_password' %}">Change password</a>
        {% endif %}

    </div>
</div>

{% endblock %}