{% extends "games/base_grid.html" %}

{% load staticfiles %}

{% block title %}WSD-Games - Games{% endblock %}

{% block header %}{{category.name}}{{developer.name}}{{title}} Games{% endblock %}

{% block sort %}
<select id="sort">
    <option>Name</option>
    <option>Price</option>
    <option>Developer</option>
</select>
<script>
    $( "#sort" ).change(function() {
        var sort = "";
        var compare = "";
        var count = 0;
        var count2 = 0;
        $( "#sort option:selected" ).each(function() {
            sort = $(this).text();
        });
            if (sort === "Name") {
                for (var i = 0; i < $("#grid").children().length; i++) {
                    compare = "";
                    $("#grid").children().each(function() {
                        if ($(this).find("h2").html() > compare && count >= i) {
                            compare = $(this).find("h2").html();
                            count2 = count;
                        }
                        count++;
                    });
                    $("#grid > div:nth-child(" + (count2 + 1).toString() + ")").prependTo("#grid");
                    count = 0;
                    count2 = 0;
                }
            }
            else if (sort === "Price") {
                for (var i = 0; i < $("#grid").children().length; i++) {
                    compare = "";
                    $("#grid").children().each(function() {
                        if (parseFloat($(this).find(".price").html().substring(7)) > compare && count >= i) {
                            compare = parseFloat($(this).find(".price").html().substring(7));
                            count2 = count;
                        }
                        count++;
                    });
                    $("#grid > div:nth-child(" + (count2 + 1).toString() + ")").prependTo("#grid");
                    count = 0;
                    count2 = 0;
                }
            }
            else if (sort === "Developer") {
                for (var i = 0; i < $("#grid").children().length; i++) {
                    compare = "";
                    $("#grid").children().each(function() {
                        if ($(this).find(".developer").html() > compare && count >= i) {
                            compare = $(this).find(".developer").html();
                            count2 = count;
                        }
                        count++;
                    });
                    $("#grid > div:nth-child(" + (count2 + 1).toString() + ")").prependTo("#grid");
                    count = 0;
                    count2 = 0;
                }
            }
    });
</script>
{% endblock %}

{% block cards %}
{% for game in games %}
<div class="col-xs-12 col-sm-6 col-md-3 ">
	<div class="inner" data-toggle="modal" data-target="#modal{{game.id}}">
		<h2>{{game.name}}</h2>
		<div class="img-container">
			<img src="{{game.image_url}}" class="img-responsive img-circle" alt="{{game.developer.name}} image">
		</div>
		<p>{{game.description}}</p>
		<p>Developer: <a href="{% url 'games.views.developer' game.developer.slug %}">{{game.developer.name}}</a></p>
		<p>Categories: {% for category in game.categories.all %}<a href="{% url 'games.views.category' category.slug %}">{{category}}</a> | {% endfor %}</p>
        {% if game.price == 0 %}
            <p class="price">Price: Free</p>
        {% else %}
            <p class="price">Price: {{game.price|floatformat:2}}</p>
        {% endif %}
	</div>
	<div class="modal fade" id="modal{{game.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">{{game.name}}</h4>
				</div>
				<div class="modal-body">
					<div class="img-container">
						<img src="{{game.image_url}}" class="img-responsive img-circle" alt="{{game.developer.name}} image">
					</div>
					<p>{{game.description}}</p>
					<p class="developer">Developer: <a href="{% url 'games.views.developer' game.developer.slug %}">{{game.developer.name}}</a></p>
					<p>Categories: {% for category in game.categories.all %}<a href="{% url 'games.views.category' category.slug %}">{{category}}</a> | {% endfor %}</p>
                    <p class="price">Price: {{game.price|floatformat:2}}</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					{% if game in user.player.games %}
						<a href="{% url 'games.views.game' game.slug %}"><button type="button" class="btn btn-primary">Play Game</button></a>
                    {% elif user.is_developer %}
                        <a href="{% url 'games.views.game' game.slug %}"><button type="button" class="btn btn-primary">Inspect</button></a>
					{% else %}
				        {% if user.is_authenticated %}
        					<form action="{% url 'payment' %}" method="POST">
            					{% csrf_token %}
           	 					<input type="hidden" name="game_id" value="{{ game.id }}">
           	 					<button type="button submit" class="btn btn-primary">Buy Game</button>
        					</form>
    					{% endif %}
					{% endif %}
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</div>
{% endfor %}
{% endblock %}