{% extends "games/base.html" %}

{% load staticfiles %}

{% block title %}WSD-Games - {{game.name}}{% endblock %}

{% block header %}{{game.name}}{% endblock %}

{% block content %}
<script>
    // Handle messages between the game site and the game in the iframe
    $(document).ready(function() {
        'use strict';
        $(window).on('message', function(evt) {
            var data = evt.originalEvent.data;
            // Answer games load request with saved data or if no saved data then inform the game about it
            if (data.messageType === "LOAD_REQUEST") {
                var game_data = "{{ownership.saved_data}}";
                var child = document.getElementById("game").contentWindow;
                if (game_data === "[]") {
                    var msg = {"messageType": "MESSAGE","message": "NO SAVED DATA"};
                }
                else {
                    var msg = {"messageType": "LOAD", "gameState": {"score": {{ownership.saved_score}}, "playerItems": game_data.split(",")}};
                }
                child.postMessage(msg, "*");
            }
            // Forward submitted score to django
            else if (data.messageType === "SCORE") {
                if (!isNaN(data.score)){
                    $("#highscore-header").html("Loading...");

                    $("#highscore-list").html("");
                    $.ajax({
                        type: 'POST',
                        url: '{% url 'game_detail' game.slug %}',
                        headers: { "X-CSRFToken": '{{ csrf_token }}' },
                        data: data
                    });
                    // Update highscores when new score is submitted
                    updateHighscores();
                }
            }
            // Forward game state to django
            else if (data.messageType === "SAVE") {
                if (!isNaN(data.gameState.score)) {
                    $.ajax({
                        type: 'POST',
                        url: '{% url 'game_detail' game.slug %}',
                        headers: { "X-CSRFToken": '{{ csrf_token }}' },
                        data: data
                    });
                }
            }
        });

        // Update highscores
        function updateHighscores() {
            var data;
            $.ajax({
                dataType: 'json',
                url: '/api/v1/games/{{game.slug}}.json',
                data: data,
            }).done(function(data) {
                $("#highscore-list").html("<tr><th>Username</th><th>Score</th><tr>");
                $("#highscore-header").html("Highscores");
                for (var i = 0; i < data.highscores.length; i++) {
                    $("#highscore-list").append("<tr><td>" + (i+1) + ". " + data.highscores[i].username + "</td><td>" + data.highscores[i].score + "</td></tr>");
                }
            });
        };

        // Add highscores when page is loaded
        updateHighscores();
    });

    
</script>
    {#  If the user is logged in as a player and has purchased the game, show the iframe that contains the game #}
    {% if ownership_status == "owned" %}
        <div class="card-container">
            <div class="card gradient hidden-xs hidden-sm">
                <iframe id="game" class=""src="{{game.url}}"></iframe>
            </div>
            <div class="card gradient hidden-md hidden-lg">
                <div class="img-container">
                    <img src="{{game.image_url}}" class="img-responsive img-circle" alt="{{game.name}} image">
                </div>
                <p>{{game.description}}</p>
                <p class="developer">Developer: <a href="
                {% url 'developer_detail' game.developer.slug %}">{{game.developer.name}}</a></p>
                <p>Categories: {% for category in game.categories.all %}<a href="
                {% url 'category_detail' category.slug %}">{{category}}</a> | {% endfor %}</p>
                <p>Price: {{game.price|floatformat:2}}€</p>
                <h3> You can't play this game with mobile or tablet devices!</h3>
            </div>
        </div>
    {# If the user is logged as a developer and has published this game, show sales info of the game and link to game editing page #}
    {% elif ownership_status == "developer"  %}
        <div class="card-container">
            <div class="card gradient">
                <h2>Sales info</h2>
                <table>
                    <tr>
                        <th>Time</th>
                        <th>Amount</th>
                    </tr>
                    <tr>
                        <td>Since {{ publish_date }}:</td>
                        <td>{{ sales_count }}</td>
                    </tr>
                    <tr>
                        <td>In last year:</td>
                        <td>{{ sales_count_year }}</td>
                    </tr>
                    <tr>
                        <td>In last 30 days:</td>
                        <td>{{ sales_count_month }}</td>
                    </tr>
                    <tr>
                        <td>In last 7 days:</td>
                        <td>{{ sales_count_week }}</td>
                    </tr>
                    <tr>
                        <td>In last day:</td>
                        <td>{{ sales_count_day }}</td>
                    </tr>
                    <tr>
                        <td>In last hour:</td>
                        <td>{{ sales_count_hour }}</td>
                    </tr>
                </table>
                <a class="btn btn-primary" href="{% url 'edit_game' game.slug %}">Edit game</a>
                <a class="btn btn-primary" href="{% url 'unpublish_game_confirm' game.slug %}">Unpublish game</a>
            </div>
        </div>

    {# If the user isn't logged in or hasn't purchased nor published the game, show basic information of the game #}
    {% else %}
        <div class="card-container">
            <div class="card gradient">
                <div class="img-container">
                    <img src="{{game.image_url}}" class="img-responsive img-circle" alt="{{game.name}} image">
                </div>
                <p class="card-description">{{game.description}}</p>
                <p class="developer">Developer: <a href="
                {% url 'developer_detail' game.developer.slug %}">{{game.developer.name}}</a></p>
                <p>Categories: {% for category in game.categories.all %}<a href="
                {% url 'category_detail' category.slug %}">{{category}}</a> | {% endfor %}</p>
                <p>Price: {{game.price|floatformat:2}}€</p>

                {# If the user is logged in as a player and hasn't purchased the game, show the link for buying the game #}
                {% if user.is_authenticated %}
                    {% if user.is_player %}
                        <form action="{% url 'payment' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="game_id" value="{{ game.id }}">
                            <button type="submit" class="btn btn-primary">Buy Game</button>
                        </form>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% endif %}

    {# Google+ Share button #}
    <div id="share-button-container">
        <span class="hidden" itemprop="name">{{game.name}} - {{game.description}}</span>
        <img class="hidden" itemprop="image" src="{{game.image_url}}">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <div class="g-plus" data-action="share" data-annotation="none" data-height="24"></div>
    </div>

    {# Highscores #}
    <div class="card-container">
        <div class="card gradient">
            <h3 id="highscore-header">Highscores</h3>
            <table id="highscore-list"></table>
        </div>
    </div>




{% endblock %}