{% extends "games/base.html" %}

{% load staticfiles %}

{% block title %}WSD-Games - {{game.name}}{% endblock %}

{% block header %}{{game.name}}{% endblock %}

{% block content %}
<script>
    /* global $ */
    // Handle messages between the game site and the game in the iframe
    $(document).ready(function() {
        'use strict';
        $(window).on('message', function(evt) {
            var data = evt.originalEvent.data;
            if (data.messageType === "LOAD_REQUEST") {
                var game_data = "{{ownership.saved_data}}";
                var child = document.getElementById("game").contentWindow;
                var msg = {"messageType": "LOAD","gameState": {"score": {{ownership.saved_score}}, "playerItems": game_data.split(",")}};
                child.postMessage(msg, "*");
            }
            else if (data.messageType === "SCORE") {
                if (!isNaN(data.score)){
                    $.ajax({
                        'type': 'POST',
                        'url': '{% url 'games.views.game' game.slug %}',
                        'headers': { "X-CSRFToken": '{{ csrf_token }}' },
                        'data': data
                    });
                }
            }
            else if (data.messageType === "SAVE") {
                if (!isNaN(data.gameState.score)) {
                    $.ajax({
                        'type': 'POST',
                        'url': '{% url 'games.views.game' game.slug %}',
                        'headers': { "X-CSRFToken": '{{ csrf_token }}' },
                        'data': data
                    });
                }
            }
        });
        $( "#message" ).click(function() {
            var child = document.getElementById("game").contentWindow;
            var msg = {"messageType": "MESSAGE","message": "TEST MESSAGE"};
            child.postMessage(msg, "*");
        });
    });

</script>
    {% if ownership_status == "owned" %}
        <iframe id="game" src="{{game.url}}"></iframe>
        <button id="message" class="hidden">Send message</button>
    {% elif ownership_status == "developer"  %}
        <h1>YOU DEVELOPED THIS GAME</h1>
    {% else %}
        <h1>YOU DON'T OWN THIS GAME</h1>

        <!-- NOTE: Make sure only players are allowed to buy games -->
        {% if user.is_authenticated %}
            {% if user.is_player %}
                <div id="form_container">
                    <form action="{% url 'payment' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="game_id" value="{{ game.id }}">
                        <input type="submit" value="Buy game">
                    </form>
                </div>
            {% endif %}
        {% endif %}
    {% endif %}

    <!-- Google+ Share button-->
    <div id="share-button-container">
        <span class="hidden" itemprop="name">{{game.name}} - {{game.description}}</span>
        <img class="hidden" itemprop="image" src="{{game.image_url}}">
        <div class="g-plus" data-action="share" data-annotation="none" data-height="24"></div>
        <script type="text/javascript">
          (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/platform.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
        </script>
    </div>

    <!-- Highscores -->
    <div id="highscore-container">
        <h3>Highscores</h3>
        <ol id="highscores">
            {% for highscore in game.get_highscores %}
                <li>{{highscore.player.user.username}} {{highscore.highscore}}</li>
            {% endfor %}
        </ol>
    </div>
{% endblock %}