{% extends "games/base_grid.html" %}

{% load staticfiles %}

{% block title %}WSD-Games - Developers{% endblock %}

{% block header %}Developers{% endblock %}

{% block cards %}
{% for developer in developers %}
<div class="col-xs-12 col-sm-6 col-md-3 ">
	<a class="card_link" href="{% url 'games.views.developer' developer.slug %}">
		<div class="inner">
			<h2>{{developer.user.first_name}}</h2>
			<div class="img-container">
				<img src="{{developer.image_url}}" class="img-responsive img-circle" alt="{{developer.user.first_name}} image">
			</div>
			<p>{{developer.description}}</p>
		</div>
	</a>
</div>
{% endfor %}
{% endblock %}