{% comment %}

Display a list of Django messages if there are any. Debug messages are prefixed with 'DEBUG:'

{% endcomment %}

{% load staticfiles %}

{% if messages %}
    <ul id="messages-ul">
        {% for message in messages %}
            <li>
                <div class="alert alert-danger alert-dismissible fade in
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        error-msg
                    {% elif  message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                        warning-msg
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                        info-msg
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        success-msg
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.DEBUG %}
                        debug-msg
                    {% endif %}">
                    <button type="button" class="close" data-dismiss="alert"
                            aria-hidden="true">
                        &times;
                    </button>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.DEBUG %}<strong>DEBUG:</strong> {% endif %}{{ message }}
                </div>
            </li>
        {% endfor %}
    </ul>
{% endif %}