{% extends "games/base.html" %}

{% load staticfiles %}

{% block title %}WSD-Games - {{profile.user.username}}{% endblock %}

{% block header %}{{profile.user.username}}{% endblock %}

{% block content %}
    <div id="form_container">
        <div id="form">
            <form method="POST">
                {% csrf_token %}
                <table>
                    {{ profile_form.as_table }}
                </table>
                <br>
                <input id="submit_profile" type="submit" value="Submit changes" name="edit_profile"/>
            </form>
            <br>
            <form method="POST">
                {% csrf_token %}
                <table>
                    {{ password_form.as_table }}
                </table>
                <br>
                <input id="submit_password" type="submit" value="Change password" name="change_password" />
            </form>
        </div>
    </div>
{% endblock %}