{% extends "games/base_grid.html" %}

{% load staticfiles %}

{% block header %}Developers{% endblock %}

{% block cards %}
{% for developer in developers %}
<div class="col-xs-12 col-sm-6 col-md-3 ">
	<a href="{% url 'games.views.developer' developer.id %}">
		<div class="inner">
			<h2>{{developer.name}}</h2>
			<div class="img-container">
				<img src="http://rammb.cira.colostate.edu/dev/hillger/WSD_logo.gif" class="img-responsive img-circle" alt="{{developer.name}} image">
			</div>
			<p>Developer description here</p>
		</div>
	</a>
</div>
{% endfor %}
{% endblock %}