<!DOCTYPE html>
<html lang="en">
	<head>
		{% load staticfiles %}
		<meta charset="utf-8">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

		<link rel="stylesheet" type="text/css" href="{% static 'games/style.css' %}" />
		<script type="text/javascript" src="{% static 'games/script.js' %}"></script>

		<title>WSD-Games</title>
	</head>
	<body>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{% url 'games.views.home' %}">WSD-Games</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="{% url 'games.views.home' %}">Home</a></li>
						<li><a href="{% url 'games.views.developers_list' %}">Developers</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Categories<span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="{% url 'games.views.categories_list' %}">All</a></li>
								{% for category in categories %}
									<li><a href="{% url 'games.views.category' category.id %}">{{category.name}}</a></li>
								{% endfor %}
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li data-toggle="modal" data-target="#signInModal"><a href="#">Sign In</a></li>
					</ul>
					<form class="navbar-form navbar-right" role="search">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Search">
						</div>
						<button type="submit" class="btn btn-inverse">Submit</button>
					</form>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
			<div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">Sign In</h4>
						</div>
						<div class="modal-body">
							<form>
								<input type="text" name="username" placeholder="Username">
								<br><br>
								<input type="password" name="password" placeholder="Password">
								<br><br>
								<input type="checkbox" name="remember" value="remember">Remember me
							</form>
							<br>
							<a data-dismiss="modal" data-toggle="modal" data-target="#signUpModal">Create an account</a>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary">Sign In</button>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">Sign Up</h4>
						</div>
						<div class="modal-body">
							<form>
								<input type="text" name="username" placeholder="Username">
								<br><br>
								<input type="text" name="email" placeholder="Email">
								<br><br>
								<input type="password" name="password" placeholder="Password">
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary">Sign Un</button>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		</nav>
		<div id="content">
			<h1>{% block header %}WSD-Games{% endblock %}</h1>
			{% block content %} {% endblock %}
		</div>
	</body>
</html>