{% extends "games/base.html" %}

{% load staticfiles %}

{% block content %}
    <div id="card-container">
        <div class="card gradient">
            <h2>An activation email has been sent to the address you gave.</h2>
            <h2>To complete the signup process click the activation link in the email.</h2>
            {% if debug %}
                <p>Activation link printed here for debugging purposes:</p>
                <p>{{ link }}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}