{% extends "games/base.html" %}

{% load staticfiles %}

{% block title %}WSD-Games - Login{% endblock %}

{% block header %}Login{% endblock %}

{% block content %}
{% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
{% endif %}

<div id="form_container">
    <form id="form" action="{% url 'django.contrib.auth.views.login' %}" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}

            <!-- Testing form formatting
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
            -->
        </table>
        <br>
        <input id="submit" type="submit" value="Login" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div>
{% endblock %}