{% extends "games/base.html" %}

{% load staticfiles %}

{% block title %}WSD-Games - Select username{% endblock %}

{% block header %}Select username{% endblock %}

{% block content %}

    {% if form.errors %}
        <p>{{ form.errors }}</p>
    {% endif %}
    <div id="form_container">
        <form id="form" action="{% url 'social:complete' backend %}" method="POST">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <br>
            <input id="submit" type="submit" value="OK" />
        </form>
    </div>

{% endblock %}