{% extends "games/base.html" %}

{% load staticfiles %}

{% block title %}WSD-Games - Signup{% endblock %}

{% block header %}Signup{% endblock %}

{% block content %}
    <div id="form_container">
        <form id="form" method="POST">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <br>
            <input id="submit" type="submit" value="Sign up">

            {% if not dev_signup %}
                Click <a href="{% url 'signup' 'dev' %}">here</a> if you want to create a developer account.
            {% endif %}

        </form>
    </div>
{% endblock %}