{% extends "games/base.html" %}

{% load staticfiles %}

{% block title %}WSD-Games - Login{% endblock %}

{% block header %}Login{% endblock %}

{% block content %}
    <div id="form_container" class="container">
        <form id="form" class="form-horizontal" method="POST">
            {% csrf_token %}
            {% include "games/form_fields.html" %}

            <button id="submit" type="submit" class="btn btn-primary">Login</button>
            <input type="hidden" name="next" value="{{ next }}" />
            <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ next }}">Login with Google</a>
        </form>
    </div>
{% endblock %}