{% extends "games/base.html" %}

{% load staticfiles %}

{% block title %}WSD-Games - Signup{% endblock %}

{% block header %}Signup{% endblock %}

{% block content %}
    <div id="form_container" class="container-fluid">
        <form novalidate id="form" class="form-horizontal" method="POST">
            {% csrf_token %}
            {% include "games/form_fields.html" %}
            <button id="submit" type="submit" class="btn btn-primary">Sign up</button>

            {% if not dev_signup %}
                <p>Click <a href="{% url 'signup' 'dev' %}">here</a> if you want to create a developer account.</p>
            {% endif %}
        </form>
    </div>
{% endblock %}